/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* DEBUG */
.black-border {
     border: 1px dashed black;
}

.white-border {
    border: 1px dashed white;
}

/* COMMON */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* UTILITYS */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 80%;
 }

.btn {
    height: 2rem;
    text-decoration: none;
    line-height: 2rem;
    padding: .6rem;
    border-radius: 30px;
}

.violet {
    background-color: #7289DA;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.black {
    background-color:#23272A;
    color: white;
}

.bg-grey {
    background-color: #F6F6F6;
}
/* HEADER */
.header-top {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255EE9;
    color: white;
    font-size: .8rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.navigation-menu li {
    margin: 0 1rem;
    list-style-type: none;
}

.navigation-menu a {
    text-decoration: none;
    color: inherit;
}

.navigation-menu {
    flex-grow: 2;
}

.login {
    text-align: right;
}

/* Banner */
.banner {
   background-image: url(../img/jumbo.png);
   background-size: 100% 100%;
   color: white;
}

.banner-container {
    width: 600px;
    text-align: center;
    line-height: 1.5rem;
}

.header-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.banner-container a {
    margin: 0 1rem;
}

.btn-container {
    margin-top: 2rem
}
   
/* MAIN */
.section {
     /* DEBUG */
     height: 400px;
}

/* Main section */
.examples-container {
    width: 500px;
}

.text-container {
    width: 300px;
    text-align: left;
}

.text-container h2 {
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

.text-container p {
    margin-top: 1.5rem;
    line-height: 1.2rem;
    font-size: .9rem;
}

.examples-container img {
    width: 80%;
}

section {
    padding: 4rem 0;
}

/* Fifth section */
.green-container {
    width: 900px;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1;

    /* DEBUG */
    /* background-color: #228b22;
    height: 600px; */
}
.green-container h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.description {
    width: 60%;
    margin: 1rem auto;
}

.calls-image{
    width: 70%;
}

.special-title {
    margin-bottom: 2rem;
}

/* FOOTER */
/* Footer top*/
.footer {
    background-color:#23272A;
    color: white;

}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 2rem;
}

.social {
    width: 300px;
    font-size: 0.7rem;
}

.social h2 {
    color: #7289DA;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.social img {
    width: 15px;
}

.fa-brands {
    margin: 1rem 1rem 0 0;
    font-size: 1rem;
}

.footer-nav li{
    list-style-type: none;
    margin-top: 0.8rem;
}

.footer-nav {
    width: 150px;
    font-size: 0.7rem;
}

li> h3 {
    color: #7289DA;
}
 /* footer bottom */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    padding: 1rem 0 2rem 0;
    border-top: 1px solid  #7289DA;
    font-size: .8rem;
}